* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 2rem;
  font-family: 'Roboto', sans-serif;
  background-color: $main-grey;
  // background-color: #000000;
  color: $text-color;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 70%;
  margin-top: 5rem;
  transition: all 0.35s;
  // max-height: 70rem;
  // position: absolute;
  // top: 55%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  @include responsiveMax($table) {
    // margin-top: 5%;
  }
  @include responsiveMax($phone) {
    margin-top: 2%;
    width: 95%;
  }
}
// Section 1 current Balance
.section1 {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include responsiveMax($phone) {
      margin-top: 2rem;
    }

    &-text {
      & h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
        @include responsiveMax($phone) {
          font-size: 1.5rem;
        }
      }
    }

    &-mainBalance {
      font-size: 3rem;
      @include responsiveMax($phone) {
        font-size: 2rem;
      }
    }
  }
}

//Section 2 operations

.section2 {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  &__records {
    width: 50%;
    @include responsiveMax($table-land) {
      width: 100%;
    }
    margin: 2rem 0;
    margin-top: 5rem;

    & ul {
      box-shadow: 1px 1px 30px rgba($color: #000000, $alpha: 0.2);
      max-height: 40rem;
      overflow-y: scroll;
      background-color: white;

      & li {
        width: 100%;
        border-bottom: 2px solid $main-grey;
        padding: 3rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        font-weight: normal;

        & div {
          width: 40%;
          display: flex;
          justify-content: space-between;
          @include responsiveMax($phone-mini) {
          }
          @include responsiveMax($phone) {
            width: 50%;
          }

          & p span {
            margin-left: 1rem;
            @include responsiveMax($phone-mini) {
              display: none;
            }
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &-transactionAmount {
      font-weight: bolder;
      font-size: 1.6rem;
    }
  }

  &__operations {
    margin-top: 2rem;
    width: 45rem;
    @include responsiveMax($table-land) {
      width: 100%;
    }
    &-div {
      margin: 1rem 0;
      padding: 5rem 1.5rem;
      border-radius: 1rem;
      color: white;
      box-shadow: 1px 1px 30px rgba($color: #000000, $alpha: 0.2);
      @include responsiveMax($phone) {
        margin-top: 1rem;
      }

      &:nth-child(1) {
        background: #654ea3; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to left,
          #eaafc8,
          #654ea3
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to left,
          #eaafc8,
          #654ea3
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      &:nth-child(2) {
        background: #7f7fd5; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #91eae4,
          #86a8e7,
          #7f7fd5
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #91eae4,
          #86a8e7,
          #7f7fd5
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      &:nth-child(3) {
        background: #74ebd5; /* fallback for old browsers */
        background-color: #bc0c0c;
        background-image: linear-gradient(90deg, #bc0c0c 0%, #b44d4e 100%);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      & h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      & input {
        width: 30%;
        opacity: 0.5;
        border: none;
        border-radius: 1rem;
        padding: 1rem 0.8rem;
        // padding: 1.5rem 3rem;
        @include responsiveMax($phone) {
          width: 100%;
          display: block;
        }
      }

      & label {
        margin: 0 0.5rem 0 0.5rem;
        font-weight: bolder;
        @include responsiveMax($phone) {
          margin-top: 0.5rem;
        }
      }

      & button {
        width: 5rem;
        // margin-left: 1rem;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 2rem;
        @include responsiveMax($phone) {
          width: 100%;
          display: inline-block;
          margin: 2rem auto;
          margin-left: 0;
        }
      }
    }
  }
}
