*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    margin: 2rem;
    font-family: 'Roboto', sans-serif;
    background-color: $main-grey;
    color: $text-color;
}